.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (device-type: tablet) and (orientation: landscape) {
    .title {
        font-size: 100px;
    }
}

@media screen and (device-type: wearable) {
    .title {
        font-size: 28px;
        color: #FFFFFF;
    }
}

@media screen and (device-type: tv) {
    .container {
        background-image: url("../../common/images/Wallpaper.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .title {
        font-size: 100px;
        color: #FFFFFF;
    }
}

@media screen and (device-type: phone) and (orientation: landscape) {

    .title_button {
        text-color: black;
        font-size: 60px;
        padding: 16px;
        background-color: #33888888;
        align-content: flex-start;
        width: 30%;
    }

    .notelist {
        padding-start: 16px;
        padding-end: 16px;
    }
    .note_item {
        margin-top: 16px;
        background-color: #10000000;
        padding: 16px;
        flex-direction: column;
    }

    .note_title {
        font-size: 50px;
        justify-content: flex-start;
    }

    .note_content {
        font-size: 30px;
        justify-content: flex-start;
    }

}
