.container {
    display: flex;
    padding: 16px;
    flex-direction: column;
}

.title {
    font-size: 50px;
    text-align: start;
}

.content {
    font-size: 30px;
    text-align: start;
}

.menu {
    justify-content: center;
}

.save {
    font-size: 30px;
    text-align: center;
    align-content:flex-start;
    padding: 16px;
    margin: 16px;
}